@using AE_NASA_APOD.Models
@using BusinessQueryParameters;
@model AsteroidViewModel

<style>
    .custom-text-color {
        color: greenyellow;
    }
</style>

<style>
    .custom-text-color-title {
        color: white;
    }
</style>


<p class="margin12"><span class="custom-text-color-title"> URL: <span class="custom-text-color"> @this.Model.FirstApproachDate</span></p>

<a asp-controller="Asteroid" asp-action="Index" class="btn btn-primary ">Back</a>
