@{
    this.ViewData["Title"] = "NASA APOD - About";
}
<body>
    <h3 class="text-center"> 
        NASA - Astronomy Picture of the Day
    </h3>
    <br>
    <h3 class="text-center">Produced by: </h3>
    <br />
    <br />
    <table class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">
                        <img src="~/Images/kris.jpg" alt="Menu" class="rounded-circle" style="width: 30px; height: 30px;" />
                        <span style="margin-right:5%"></span>
                        Kristian Vaklev
                    </th>
                </tr>
            </thead>

        </table>
        <br />
        <br />
        <h3 class="text-center">Thank you for your attention!</h3>
</body>
