@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NASA - Astronomy Picture of the Day</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">For more details check out NASA Official Website</a>.</p>
</div>
