@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: white;">NASA - Astronomy Picture of the Day</h1>
    <p><a href="https://api.nasa.gov." style="color: yellowgreen;">For more details check out NASA REST API</a>.</p>
</div>

