@{
    this.ViewData["Title"] = "Error";
}

<style>
    .error-text {
        color: red;
    }
</style>

<h2 class="label-error">Oops...something went wrong :(</h2>
<p>
    <span class="error-text">Status Code: @this.Context.Response.StatusCode</span><br />
    <span class="error-text">Message: @this.ViewData["ErrorMessage"]</span>
</p>

<a asp-controller="Asteroid" asp-action="Index" class="btn btn-primary ">Back</a>
